body {
    background-color: rgb(199, 195, 195);
}

H1 {
        text-align: center;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: rgb(130, 83, 238); 

}

p {
           color: red;
           margin: 0in 2in 0in 2in;
}